@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --primary: #00d3a9;
    --second: #00b6f5;
    --white: #fff;
    --dark: #1e1c2a;
}

.fundo{
    max-height: 100vh;
    width: 100%;
    background: url(img/fundo.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.navigation img {
    width: 75px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 200px;
    width: 100%;
    transition: all 0.5s;
}

.navigation ul {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.navigation ul li a {
    color: var(--second);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}

.navigation ul li a:hover {
    color: var(--primary);
}

.menu {
    cursor: pointer;
    display: none;
}

.menu .bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--dark);
    margin: 5px auto;
    transform: all 0.3s;
}

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10% 8%;
}

.home-text {
    max-width: 37rem;
}

.text-h1, p{
    color: var(--white);
}

.home-text .text-h4 {
    font-size: 1.5rem;
    color: var(--second);
    margin-bottom: 1rem;
}

.home-text .text-h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}

.home-text p {
    margin-bottom: 3rem;
}

.home-btn {
    padding: 15px 45px;
    background: var(--second);
    color: var(--white);
    border-radius: 10px;
    font-weight: 500;
    transition: all 0.5s;
}

.home-btn:hover {
    background: var(--primary);
}

.home-img img {
    width: 100%;
    width: 650px;
    padding: 0px 0px 8%;
}

.title h1{
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
    font-weight: 600;
}

.title p{
    text-align: center;
    padding: 1% 20%;
    color: black;
    font-size: 18px;
}

.title h1::after{
    content: "";
    height: 3px;
    width: 200px;
    background-color: var(--second);
    display: block;
    margin: auto;
}

.about{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 75px auto;
    text-align: center;
}

.card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0px 20px;
    padding: 20px 20px;
    background-color: var(--second);
    border-radius: 10px;
    cursor: pointer;
}

.card:hover{
    background-color: var(--primary);
    transition: 0.4 ease;
}

.card .icon{
    font-size: 35px;
    margin-bottom: 10px;
}

.card h2{
    font-size: 28px;
    font-weight: 600;
}

.card p{
    font: 17px;
    margin-bottom: 30px;
    line-height: 1.5;
}

.services{
    width: 100%;
    height: 100vh;
    padding: 0 15%;
}

.services h1 {
    text-align: center;
    padding-top: 3%;
    margin-bottom: 60px;
    font-size: 40px;
    font-weight: 600;
    position: relative;
}

.services h1::after{
    content: "";
    height: 3px;
    width: 110px;
    background-color: var(--second);
    display: block;
    margin: auto;
}

.serv p{
    color: black;
}

.row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.serv{
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background: transparent;
    transition: transform 0.5s, background 0.5s;
}

.serv i {
    font-size: 40px;
    margin-bottom: 10px;
    color: var(--second);
}

.serv h2{
    font-weight: 600;
}

.serv:hover{
    background: var(--primary);
    transform: scale(1.05);
}

.button{
    padding: 60px;
    text-align: center;
}

.services-btn {
    padding: 15px 30px;
    background: var(--second);
    color: var(--white);
    border-radius: 10px;
    font-weight: 500;
    transition: all 0.5s;
}

.services-btn:hover {
    background: var(--primary);
}

footer{
    background: var(--second);
    height: auto;
    width: 100%;
    padding-top: 40px;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
}

.socials a i{
    font-size: 1.5rem;
    transition: color .4s ease;
}

.socials a:hover i {
    color: var(--primary);
}

.footer-bottom{
    background: #000;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: capitalize;
}

@media (max-width:785px) {
    .navigation {
        padding: 18px 20px;
    }

    .menu {
        display: block;
    }

    .menu.ativo .har:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu.ativo .har:nth-child(2) {
        opacity: 0;
    }

    .menu.ativo .har:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--white);
        gap: -10px;
        transition: 0.3s;
    }

    .nav-menu.ativo {
        right: 0;
    }

    .nav-item {
        margin: 16px 0;
    }

    .home {
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
    }

    .home .text-h4 {
        font-size: 15px;
    }

    .home .text-h1 {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .home p {
        font-size: 15px;
    }

    .home-img {
        width: 125%;
    }
}

@media screen and (max-widht: 940px){
    .about{
        display: flex;
        flex-direction: column;
    }
    .card{
        width: 85%;
        display: flex;
        margin: 20px 0px;
    }
}